/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .apresentationDiv{
        width: 700px;
        margin-top: 22px;
    }

    .apresentationDesc{
        color: white !important;
    }

    .contact{
        background-color: #f3f3f3;
        display: block;
        padding-bottom: 50px;
    }

    .titleBlack{
        color: black;
        margin-top: 50px;
        margin-right: 50px;
        float: right;
    }

    .contactContent{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .leftContact{
        width: 45%;
        background-color: red;
    }

    .rightContact{
        display: flex;
        justify-content: center;
        width: 55%;
    }

    .formArea{
        background-color: #eeeeee;
        height: 700px;
        width: 600px;
        -webkit-box-shadow: 0px 2px 10px 1px #000000; 
        box-shadow: 0px 2px 10px 1px #000000;
    }
}