@media only screen and (max-width: 600px) {
    .mainSection{
        overflow: hidden;
        position: relative;
        padding: 20px 30px 0px 30px;
        height: fit-content;
        width: 100%;
    }

    .mainSectionTitle{
        color: #000000;
        font-size: 12vw;
        font-weight: 700;
        line-height: 15vw;
        margin-bottom: 20px;
    }

    .mainSectionSubitle{
        width: 90%;
        color: #000000;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .mainSectionContent{
        height: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .mainSectionParagraph{
        position: relative;
        z-index: 2;
        color: #888888;
        font-size: 4vw;
        font-weight: 400;
        width: 100%;
        margin-bottom: 10px;
    }

    .mainSectionVector{
        padding-top: 60px;
        display: block;
        height: auto;
        width: 100%;
    }

    .mainSectionVectorDt1{
        bottom: 80px;
        left: 5vw;
        position: absolute;
        z-index: 0;
        width: 20vw;
        height: auto;
        animation: forwards bubbleAnim 2s;
        animation-iteration-count: infinite;
    }

    @keyframes bubbleAnim {
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-30px);
        }
        100%{
            transform: translateY(0px);
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .mainSection{
        overflow: hidden;
        position: relative;
        padding: 50px 60px 0px 60px;
        height: fit-content;
        width: 100%;
    }

    .mainSectionTitle{
        color: #000000;
        font-size: 55px;
        font-weight: 700;
        line-height: 65px;
        margin-bottom: 20px;
    }

    .mainSectionSubitle{
        width: 90%;
        color: #000000;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 50px;
    }

    .mainSectionContent{
        height: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .mainSectionParagraph{
        position: relative;
        z-index: 2;
        color: #888888;
        font-size: 4vw;
        font-weight: 400;
        width: 100%;
        margin-bottom: 10px;
    }

    .mainSectionVector{
        padding-top: 60px;
        display: block;
        height: auto;
        width: 100%;
    }

    .mainSectionVectorDt1{
        bottom: 150px;
        left: 5vw;
        position: absolute;
        z-index: 0;
        width: 20vw;
        height: auto;
        animation: forwards bubbleAnim 2s;
        animation-iteration-count: infinite;
    }

    @keyframes bubbleAnim {
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-30px);
        }
        100%{
            transform: translateY(0px);
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .mainSection{
        overflow: hidden;
        position: relative;
        padding: 100px 60px 0px 60px;
        height: fit-content;
        width: 100%;
    }

    .mainSectionTitle{
        color: #000000;
        font-size: 55px;
        font-weight: 700;
        line-height: 65px;
        margin-bottom: 20px;
    }

    .mainSectionSubitle{
        width: 90%;
        color: #000000;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 50px;
    }

    .mainSectionContent{
        height: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .mainSectionParagraph{
        position: relative;
        z-index: 2;
        color: #888888;
        font-size: 4vw;
        font-weight: 400;
        width: 100%;
        margin-bottom: 10px;
    }

    .mainSectionVector{
        padding-top: 60px;
        display: block;
        height: auto;
        width: 100%;
    }

    .mainSectionVectorDt1{
        bottom: 150px;
        left: 5vw;
        position: absolute;
        z-index: 0;
        width: 20vw;
        height: auto;
        animation: forwards bubbleAnim 2s;
        animation-iteration-count: infinite;
    }

    @keyframes bubbleAnim {
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-30px);
        }
        100%{
            transform: translateY(0px);
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .mainSection{
        overflow: hidden;
        position: relative;
        padding: 70px 0px 0px 60px;
        height: fit-content;
        width: 100%;
    }

    .mainSectionTitle{
        color: #000000;
        font-size: 60px;
        font-weight: 700;
    }

    .mainSectionSubitle{
        width: 50%;
        color: #000000;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 50px;
    }

    .mainSectionContent{
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .mainSectionParagraph{
        grid-column: 1;
        position: relative;
        z-index: 2;
        color: #888888;
        font-size: 20px;
        font-weight: 400;
        width: 100%;
        height: fit-content;
        margin-bottom: 10px;
    }

    .mainSectionVector{
        grid-column: 2;
        grid-row: 1;
        display: block;
        height: auto;
        width: 100%;
    }

    .mainSectionVectorDt1{
        top: -50px;
        left: auto;
        right: 300px;
        position: absolute;
        width: 100px;
        height: auto;
        animation: forwards bubbleAnim 2s;
        animation-iteration-count: infinite;
    }

    @keyframes bubbleAnim {
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-30px);
        }
        100%{
            transform: translateY(0px);
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .mainSection{
        overflow: hidden;
        position: relative;
        padding: 70px 0px 0px 60px;
        height: fit-content;
        width: 100%;
    }

    .mainSectionTitle{
        color: #000000;
        font-size: 60px;
        font-weight: 700;
    }

    .mainSectionSubitle{
        width: 50%;
        color: #000000;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 50px;
    }

    .mainSectionContent{
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .mainSectionParagraph{
        grid-column: 1;
        position: relative;
        z-index: 2;
        color: #888888;
        font-size: 20px;
        font-weight: 400;
        width: 100%;
        height: fit-content;
        margin-bottom: 10px;
    }

    .mainSectionVector{
        grid-column: 2;
        grid-row: 1;
        display: block;
        height: auto;
        width: 100%;
    }

    .mainSectionVectorDt1{
        top: -100px;
        left: auto;
        right: 400px;
        position: absolute;
        width: 150px;
        height: auto;
        animation: forwards bubbleAnim 2s;
        animation-iteration-count: infinite;
    }

    @keyframes bubbleAnim {
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-30px);
        }
        100%{
            transform: translateY(0px);
        }
    }
}