@media only screen and (max-width: 600px) {
    .firstContact{
        padding: 100px 20px;
        width: 100%;
        height: 100vh;
        background-image: url('../../assets/home_aurora.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .firstContactTitle{
        color: #ffffff;
        font-size: 60px;
        font-weight: 900;
    }

    .firstContactSubtitle{
        color: #ffffff;
        font-size: 30px;
        font-weight: 600;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .firstContact{
        padding: 100px 100px;
        width: 100%;
        height: 100vh;
        background-image: url('../../assets/home_aurora.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .firstContactTitle{
        color: #ffffff;
        font-size: 60px;
        font-weight: 900;
    }

    .firstContactSubtitle{
        color: #ffffff;
        font-size: 50px;
        font-weight: 600;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .firstContact{
        padding: 100px 100px;
        width: 100%;
        height: 100vh;
        background-image: url('../../assets/home_aurora.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .firstContactTitle{
        color: #ffffff;
        font-size: 60px;
        font-weight: 900;
    }

    .firstContactSubtitle{
        color: #ffffff;
        font-size: 50px;
        font-weight: 600;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .firstContact{
        padding: 100px 100px;
        width: 100%;
        height: 100vh;
        background-image: url('../../assets/home_aurora.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .firstContactTitle{
        color: #ffffff;
        font-size: 60px;
        font-weight: 900;
    }

    .firstContactSubtitle{
        color: #ffffff;
        font-size: 50px;
        font-weight: 600;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .firstContact{
        padding: 100px 100px;
        width: 100%;
        height: 100vh;
        background-image: url('../../assets/home_aurora.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .firstContactTitle{
        color: #ffffff;
        font-size: 60px;
        font-weight: 900;
    }

    .firstContactSubtitle{
        color: #ffffff;
        font-size: 50px;
        font-weight: 600;
        line-height: 60px;
    }

    .firstContactButton{
        cursor: pointer;
        border-radius: 50px;
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        margin: auto;
        width: 200px;
        padding: 5px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
    }

    .mainSection{
        overflow: hidden;
        position: relative;
        padding: 60px 100px;
        height: 100vh;
        width: 100%;
    }

    .mainSectionTitle{
        color: #000000;
        font-size: 60px;
        font-weight: 700;
    }

    .mainSectionSubitle{
        width: 50%;
        color: #000000;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 50px;
    }

    .mainSectionParagraph{
        position: relative;
        z-index: 2;
        color: #888888;
        font-size: 20px;
        font-weight: 400;
        width: 45%;
        margin-bottom: 10px;
    }

    .mainSectionVector{
        position: absolute;
        z-index: 1;
        right: -30px;
        bottom: 0;
        height: auto;
        width: 58%;
    }
}